.app-container {
    display: flex;
}
.app-navigation {
    height: 100vh;
    position: sticky;
    align-items: center;
    width: 12rem;
    background-color: white;
    padding: 2rem;
    &-lists {
        display: flex;
        flex-direction: column;
    }
    &-link {
        margin-top: 1rem;
    }
}
.app-element {
    flex-grow: 2;
}
.links {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    transition: all 0.4s ease-in;
    &-active {
        translate: 10%;
    }
}
