.button-container {
    width: calc(70vw - 3rem);
    padding: 2rem;
    margin: 2rem;
    border-bottom: solid 0.1rem;
    border-left: solid 0.1rem;
    display: flex;
    justify-content: center;
    .button-table {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        .button-row {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
