.counter-container {
    width: calc(70vh - 3rem);
    margin: 2rem;
    min-height: max-content;
    border: 3px solid;
    border-radius: 6px;
    padding: 20px;
    background-color: white;
    .button-container {
        display: flex;
        flex-direction: row;
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            height: 50px;
            font-size: 40px;
            border: none;
            border-radius: 5px;
            box-sizing: content-box;

            &:hover,
            &:focus {
                filter: brightness(95%);
                box-shadow: 5px 5px rgba(0, 0, 255, 0.232);
            }
        }
        label {
            font-weight: 300;
            font-size: 30px;
            font-style: italic;
            text-align: center;
            text-decoration: underline;
        }
    }
}
