.skeleton {
    position: relative;
    overflow: hidden;
    background-color: rgb(235, 212, 212);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 25px;
    .blink {
        position: absolute;
        background: linear-gradient(to right, rgb(225, 210, 210), white);
        animation: shimmer 1.5s infinite;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // absolute inset-0 -translate-x-full bg-gradient-to-r from-gray-200 via-white to-gray-200
    }
}
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
