.drop-down {
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    &-select {
        position: relative;
        width: 33%;
        // &:hover {
        //     filter: brightness(95%);
        // }
        &-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border: 1px solid;
            border-radius: 5px 0;
        }
        &-bar {
            position: absolute;
            top: auto;
            z-index: 10;
            border: 1px solid;
            border-radius: 5px 0;
            // absolute top-full border rounded
            &-options {
                background-color: inherit;
                cursor: pointer;
                transition: all 0.4s ease-out;
                padding: 5px;
                &:hover {
                    filter: brightness(95%);
                    border-radius: 12px;
                }
            }
        }
    }
}
