.drop-down-container {
    width: calc(70vw - 3rem);
    padding: 2rem;
    margin: 2rem;
    border-bottom: solid 0.1rem;
    border-left: solid 0.1rem;
    height: 12rem;
    display: flex;
    background-color: rgba(177, 205, 52, 0.55);
    border-radius: 5px;
    .drop-down {
        width: 12rem;
        margin-right: 3rem;
        position: relative;
        &-select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border: 1px solid;
            border-radius: 5px;
            &:hover {
                filter: brightness(95%);
            }
        }
        &-options {
            border-bottom: solid 2px;
            border-radius: 10px;
        }
        &-option {
            letter-spacing: 0.2rem;
            transition: all 0.4s ease-in-out;
            width: 100%;
            cursor: pointer;
            background-color: inherit;
            border: none;
            border-radius: 5px;
            &:hover {
                filter: brightness(95%);
            }
        }
    }
}
