.app-container {
    width: 100vw;
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    .items-container {
        width: 75vw;
        height: 100vh;
        padding-top: 10%;
    }
    // container mx-auto grid grid-cols-6 gap-4 mt-4
}
